name: Publish NuGet (GitHub Packages)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  pack_and_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore

      - name: Pack (Release)
        run: dotnet pack -c Release --no-build -o ./artifacts

      - name: Add GitHub Packages source (GITHUB_TOKEN)
        run: dotnet nuget add source --username ${ github.actor } --password ${ secrets.GITHUB_TOKEN } --store-password-in-clear-text --name github "https://nuget.pkg.github.com/${ github.repository_owner }/index.json"

      - name: Push packages
        run: dotnet nuget push "./artifacts/*.nupkg" --source "github" --api-key ${ secrets.GITHUB_TOKEN } --skip-duplicate
